<html>
<head>
  <title>
    <%= @page_title || "Library" %>
  </title>
  <%= stylesheet_link_tag 'scaffold' %>
  
  <%= javascript_include_tag :all, :cache => true %>
  
  <style type="text/css">
    label {
      display: block;
    }
    .fieldWithErrors {
      border: 3px solid #f00;
    }
    .notice {
      padding: 1em;
      background: green;
      color: #fff;
    }
  </style>
</head>

<body>
  
  <% if flash[:notice] %>
  <div id="flash" class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
  
  <%= yield %>
  
</body>

</html>