<% form_for(@author) do |f| %>
  <%= f.error_messages %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

  <p>
    <%= f.submit (@author.new_record? ? "Create" : "Update") %>
  </p>
<% end %>