<h1>
  <%= @book.title %>
</h1>

<dl>
  <dt>ISBN</dt>
  <dd>
    <%= @book.isbn %>
  </dd>
  
  <dt>
    Authors
  </dt>

  <dd id="author_list">
    <%= render :partial => "author", :collection => @book.authors %>
  </dd>

</dl>

<p>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to_function "Add author", "$('new_author_form').toggle()" %>
</p>

<div id="new_author_form" style="display:none">
  <%= render :partial => "authorships/list" %>
</div>